#wrap {
    width: 100%;
    overflow: hidden;
}

/* header------------------------------ */
#header {
    float: left;
    width: 100%;
    height: 100vh;
}
/* 네비 */
#menu {
    float: left;
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: #000;
    z-index: 9999;
}
#menu_in {
    width: 1400px;
    height: 100%;
}
#menu_in .logo {
    float: left;
    font-weight: 600;
    line-height: 75px;
    color: #fff;
}
#menu_in .nav {
    float: right;
}
#menu_in .nav li {
    float: left;
    margin-right: 30px;
    line-height: 78px;
}
#menu_in .nav li:nth-child(5) {
    margin-right: 0;
}
#menu_in .nav li a {
    color: #fff;
}

/* 메인 홈 */
#main {
    float: left;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #000;
}
#main_in {
    width: 1400px;
    height: 100%;
    color: #fff;
}
/* video {
    margin-left: 800px;
    max-width: 65%;
    display: block;
} */
.main_txt h2 {
    margin-top: 330px;
    margin-left: -11px;
    font-size: 140px;
    font-weight: normal;
}
.main_txt p {
    margin: -20px 0 0 139px;
    letter-spacing: 5px;
}

/* info------------------------------- */
#info {
    float: left;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
#info_in {
    padding: 200px 0 200px 0;
    width: 1400px;
    height: 100%;
    box-sizing: border-box;
}
.info_img {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}
.info_img>div {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 2px solid #000;
    background: url(../image/info\ artwork.png) no-repeat -30px -70px;
    background-size: 230%;
    cursor: pointer;
}
.info_txt {
    margin-top: 60px;
    text-align: center;
}
.info_txt h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 45px;
    margin-bottom: 20px;
}
.info_txt p {
    font-size: 20px;
    line-height: 33px;
}
.info_ex {
    margin-top: 160px;
    width: 100%;
    height: 80px;
    position: absolute;
}
.info_ex>div {
    margin-left: 55%;
    width: 300px;
    height: 100%;
    background: url(../image/icon\ brown.png) no-repeat 0 0;
    background-size: 35%;
}

/* skill------------------------------- */
#skill {
    padding: 100px 0 100px 0;
    float: left;
    width: 100%;
    height: 600px;
    background-color: #000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.skill_in {
    width: 1400px;
    height: 400px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

}
.skill_box {
    float: left;
    width: 625px;
    height: 300px;
}
.skill_box li {
    float: left; 
    margin-bottom: 29px;
}
.skill_box li:nth-child(5) {
    margin-bottom: 0;
}
.skill_box li h5 {
    float: left;
    padding-left: 10px;
    margin-right: 10px;
    width: 110px;
    height:37px;
    font-size: 16px;
    font-weight: 600;
    line-height: 35px;
    border-left: 5px solid rgb(230, 230, 230);
    color: rgb(230, 230, 230);
    box-sizing: border-box;
}
.skill_box:nth-child(2) li h5 {
    border-left: 5px solid #9F9384;
    color: #9F9384;
}
.skill_box li>div {
    width: 505px; 
    height:37px; 
    position: relative; 
    overflow: hidden;
    border-bottom: 1px solid rgb(77, 77, 77);
    box-sizing: border-box;
}
.skill_box:nth-child(2) li:nth-child(5) {
    display: none;
}

/* project------------------------------- */
#project {
    float: left;
    width: 100%;
    height: 100vh;
    background-color: chocolate;
}

/* footer------------------------------- */
#footer {
    float: left;
    width: 100%;
    height: 100vh;
    background-color: darkgreen;
}

@media screen and (max-width:480px) {
    #header {
        float: left;
        width: 100%;
        height: 100vh;
        background-color: green;
    }
    #menu {
        float: left;
        width: 100%;
        height: 200px;
        background-color: rgb(114, 68, 114);
        position: fixed;
    }
    #menu_in {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        background-color: rgb(126, 119, 233);
    }
}