#wrap {
    width: 100%;
    overflow: hidden;
}

/* header------------------------------ */
#header {
    float: left;
    width: 100%;
    height: 100vh;
}
/* 네비 */
#menu {
    float: left;
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: #000;
}
#menu_in {
    width: 1400px;
    height: 100%;
}
#menu_in .logo {
    float: left;
    font-weight: 600;
    line-height: 75px;
    color: #fff;
}
#menu_in .nav {
    float: right;
}
#menu_in .nav li {
    float: left;
    margin-right: 30px;
    line-height: 78px;
}
#menu_in .nav li:nth-child(5) {
    margin-right: 0;
}
#menu_in .nav li a {
    color: #fff;
}

/* 메인 홈 */
#main {
    float: left;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #000;
}
#main_in {
    width: 1400px;
    height: 100%;
    color: #fff;
}
/* video {
    margin-left: 800px;
    max-width: 65%;
    display: block;
} */
.main_txt h2 {
    margin-top: 330px;
    margin-left: -11px;
    font-size: 140px;
    font-weight: normal;
}
.main_txt p {
    margin: -20px 0 0 139px;
    letter-spacing: 5px;
}

/* info------------------------------- */
#info {
    float: left;
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
}

/* skill------------------------------- */
#skill {
    float: left;
    width: 100%;
    height: 100vh;
    background-color: slateblue;
}

/* project------------------------------- */
#project {
    float: left;
    width: 100%;
    height: 100vh;
    background-color: chocolate;
}

/* footer------------------------------- */
#footer {
    float: left;
    width: 100%;
    height: 100vh;
    background-color: darkgreen;
}

@media screen and (max-width:480px) {
    #header {
        float: left;
        width: 100%;
        height: 100vh;
        background-color: green;
    }
    #menu {
        float: left;
        width: 100%;
        height: 200px;
        background-color: rgb(114, 68, 114);
        position: fixed;
    }
    #menu_in {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        background-color: rgb(126, 119, 233);
    }
}